*, *:after, *:before {
  box-sizing: border-box; }

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header,
main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section {
  display: block; }

body {
  line-height: inherit;
  overflow-x: hidden;
  overflow-y: auto; }

ul {
  list-style: none; }

ol {
  list-style-type: decimal; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address {
  font-style: normal; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a {
  color: inherit;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

img:not([src$='.svg']),
iframe {
  max-width: 100%; }

figure img {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

.cf:after {
  clear: both;
  content: '';
  display: table; }

.hidden {
  display: none !important; }

.root {
  color: #666766;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.375; }

h1, .h1, h2, .h2, h3, .h3,
input, select, textarea, button,
p, ul, ol, dl, address, blockquote, pre, table,
figure, hr {
  margin-bottom: 1.375rem; }

h1, .h1, h2, .h2, h3, .h3 {
  color: inherit;
  font-family: "Corben", "Source Sans Pro", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase; }
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a {
    color: inherit;
    font-size: inherit; }

p, ul, ol, dl, address, blockquote, pre, table, label, .content {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375;
  white-space: normal; }

.main h1, .h1 {
  font-size: 26px; }
  @media (min-width: 751px) {
    .main h1, .h1 {
      font-size: 36px; } }

.main h2, .h2 {
  font-size: 22px; }
  @media (min-width: 751px) {
    .main h2, .h2 {
      font-size: 28px; } }

.main h3, .h3 {
  font-size: 16px; }
  @media (min-width: 751px) {
    .main h3, .h3 {
      font-size: 20px; } }

a {
  color: #306276;
  text-decoration: none; }
  a:active,
  a:hover {
    text-decoration: inherit; }

.main li:nth-last-of-type(n+2) {
  padding-bottom: 0.6875rem; }

.main p > a:not([class]) {
  text-decoration: underline; }
  .main p > a:not([class]):hover {
    opacity: .75; }

.body__content {
  position: relative; }

.main {
  position: relative;
  z-index: 999; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 0 1.375rem;
  position: relative; }

.nav {
  background: #306276;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 1.375rem;
  padding: 1.375rem 0;
  position: relative;
  z-index: 1000; }
  .nav .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav a {
    color: inherit;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    vertical-align: top; }
    .nav a:hover {
      color: #ddd; }

.nav__list {
  display: inline-block;
  margin: 0;
  vertical-align: top; }
  .nav__list li {
    display: inline-block;
    vertical-align: top; }
    .nav__list li + li {
      padding-left: 1.375rem; }

.article {
  margin-bottom: 4.125rem; }
  @media (min-width: 751px) {
    .article {
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      width: 66.66667%;
      float: left; } }

.aside {
  margin-bottom: 4.125rem; }
  @media (min-width: 751px) {
    .aside {
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      width: 33.33333%;
      float: left; }
      .article + .aside {
        padding-left: 3.5%; } }
  .aside figure {
    max-width: 350px; }

.flash-messages {
  border: 1px solid #ccc;
  margin-bottom: 1.375rem;
  padding: 1.375rem; }
  .flash-messages ul {
    margin: 0; }

.editable {
  background: #eee; }

.book {
  margin-bottom: 1.375rem; }

.book__cover {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
  display: block;
  float: left;
  margin-right: 0.6875rem;
  min-width: 75px;
  width: 25%; }

.book__info {
  overflow: hidden; }

fieldset {
  border: 0;
  padding: 0;
  position: relative; }
  fieldset > input,
  fieldset > select,
  fieldset > textarea,
  fieldset > label {
    display: block;
    vertical-align: top;
    width: 100%; }
  fieldset > label {
    display: block;
    margin-bottom: 0.6875rem; }
  fieldset > input,
  fieldset > select,
  fieldset > textarea {
    -webkit-appearance: none;
    background: #fff;
    border: 1px #ddd solid;
    border-radius: .4rem;
    color: #333;
    display: block;
    font-size: 15px;
    outline: none;
    padding: 1em;
    position: relative; }
  fieldset > textarea {
    height: 8em;
    overflow: auto;
    resize: vertical; }
  fieldset > option.disabled {
    color: #ccc;
    font-style: italic; }

.btn {
  background: #306276;
  border: 0;
  color: #fff;
  cursor: pointer;
  line-height: 1.375;
  padding: 0.6em 1em;
  text-transform: uppercase; }

.parsley-success {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #468847; }

.parsley-error {
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  color: #b94a48; }

.parsley-errors-list {
  font-size: .9em;
  line-height: .9em;
  list-style-type: none;
  margin: 2px 0 3px;
  opacity: 0;
  padding: 0;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in; }
  .parsley-errors-list.filled {
    opacity: 1; }

.parsley-errors-list {
  background: #cc6519;
  color: #fff !important;
  display: table;
  margin: .5em 0 0;
  overflow: visible;
  padding: 0;
  position: relative;
  top: -0.6875rem; }
  .parsley-errors-list:before {
    border: .5em solid transparent;
    border-bottom: .5em solid #cc6519;
    bottom: 100%;
    content: '';
    display: inline-block;
    left: .5em;
    position: absolute; }
  .parsley-errors-list li {
    background: none !important;
    color: inherit;
    list-style: none !important;
    padding: .5em !important; }
  .parsley-errors-list a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline; }

.picker, .picker__holder {
  width: 100%;
  position: absolute; }

.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #000;
  z-index: 10000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.picker__input {
  cursor: default; }

.picker__input.picker__input--active {
  border-color: #0089ec; }

.picker__holder {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  border: 1px solid #aaa;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  min-width: 176px;
  max-width: 466px;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
          transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -webkit-transition: -webkit-transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s 0.15s, border-width 0s 0.15s;
          transition: transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s 0.15s, border-width 0s 0.15s; }

/*!
 * Classic picker styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
.picker__frame {
  padding: 1px; }

.picker__wrap {
  margin: -1px; }

.picker--opened .picker__holder {
  max-height: 25em;
  opacity: 1;
  border-top-width: 1px;
  border-bottom-width: 1px;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
          transform: translateY(0) perspective(600px) rotateX(0);
  -webkit-transition: -webkit-transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s, border-width 0s;
          transition: transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s, border-width 0s;
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12); }

.picker__footer, .picker__header, .picker__table {
  text-align: center; }

.picker__day--highlighted, .picker__select--month:focus, .picker__select--year:focus {
  border-color: #0089ec; }

.picker__box {
  padding: 0 1em; }

.picker__header {
  position: relative;
  margin-top: .75em; }

.picker__month, .picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em; }

.picker__year {
  color: #999;
  font-size: .8em;
  font-style: italic; }

.picker__select--month, .picker__select--year {
  border: 1px solid #b7b7b7;
  height: 2em;
  padding: .5em;
  margin-left: .25em;
  margin-right: .25em; }

.picker__select--month {
  width: 35%; }

.picker__select--year {
  width: 22.5%; }

.picker__nav--next, .picker__nav--prev {
  position: absolute;
  padding: 0.5em 1.25em;
  width: 1em;
  height: 1em;
  box-sizing: content-box;
  top: -.25em; }

.picker__nav--prev {
  left: -1em;
  padding-right: 1.25em; }

.picker__nav--next {
  right: -1em;
  padding-left: 1.25em; }

@media (min-width: 24.5em) {
  .picker__select--month, .picker__select--year {
    margin-top: -.5em; }
  .picker__nav--next, .picker__nav--prev {
    top: -.33em; }
  .picker__nav--prev {
    padding-right: 1.5em; }
  .picker__nav--next {
    padding-left: 1.5em; } }

.picker__nav--next:before, .picker__nav--prev:before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: .75em solid #000;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto; }

.picker__nav--next:before {
  border-right: 0;
  border-left: .75em solid #000; }

.picker__nav--next:hover, .picker__nav--prev:hover {
  cursor: pointer;
  color: #000;
  background: #b1dcfb; }

.picker__nav--disabled, .picker__nav--disabled:before, .picker__nav--disabled:before:hover, .picker__nav--disabled:hover {
  cursor: default;
  background: 0 0;
  border-right-color: #f5f5f5;
  border-left-color: #f5f5f5; }

.picker--focused .picker__day--highlighted, .picker__day--highlighted:hover, .picker__day--infocus:hover, .picker__day--outfocus:hover {
  color: #000;
  cursor: pointer;
  background: #b1dcfb; }

.picker__table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
  margin-bottom: .5em; }

@media (min-height: 33.875em) {
  .picker__table {
    margin-bottom: .75em; } }

.picker__table td {
  margin: 0;
  padding: 0; }

.picker__weekday {
  width: 14.285714286%;
  font-size: .75em;
  padding-bottom: .25em;
  color: #999;
  font-weight: 500; }

@media (min-height: 33.875em) {
  .picker__weekday {
    padding-bottom: .5em; } }

.picker__day {
  padding: .3125em 0;
  font-weight: 200;
  border: 1px solid transparent; }

.picker__day--today {
  position: relative; }

.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
  border-top: .5em solid #0059bc;
  border-left: .5em solid transparent; }

.picker__day--disabled:before {
  border-top-color: #aaa; }

.picker__day--outfocus {
  color: #ddd; }

.picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected:hover {
  background: #0089ec;
  color: #fff; }

.picker--focused .picker__day--disabled, .picker__day--disabled, .picker__day--disabled:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #ddd;
  cursor: default; }

.picker__day--highlighted.picker__day--disabled, .picker__day--highlighted.picker__day--disabled:hover {
  background: #bbb; }

.picker__button--clear, .picker__button--close, .picker__button--today {
  border: 1px solid #fff;
  background: #fff;
  font-size: .8em;
  padding: .66em 0;
  font-weight: 700;
  width: 33%;
  display: inline-block;
  vertical-align: bottom; }

.picker__button--clear:hover, .picker__button--close:hover, .picker__button--today:hover {
  cursor: pointer;
  color: #000;
  background: #b1dcfb;
  border-bottom-color: #b1dcfb; }

.picker__button--clear:focus, .picker__button--close:focus, .picker__button--today:focus {
  background: #b1dcfb;
  border-color: #0089ec;
  outline: 0; }

.picker__button--clear:before, .picker__button--close:before, .picker__button--today:before {
  position: relative;
  display: inline-block;
  height: 0; }

.picker__button--clear:before, .picker__button--today:before {
  content: " ";
  margin-right: .45em; }

.picker__button--today:before {
  top: -.05em;
  width: 0;
  border-top: .66em solid #0059bc;
  border-left: .66em solid transparent; }

.picker__button--clear:before {
  top: -.25em;
  width: .66em;
  border-top: 3px solid #e20; }

.picker__button--close:before {
  content: '\D7';
  top: -.1em;
  vertical-align: top;
  font-size: 1.1em;
  margin-right: .35em;
  color: #777; }

.picker__button--today[disabled], .picker__button--today[disabled]:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #ddd;
  cursor: default; }

.picker__button--today[disabled]:before {
  border-top-color: #aaa; }

.picker__holder {
  margin-top: -1.375rem; }

.picker .parsley-errors-list {
  display: none !important; }
